@font-face{
  font-family: 'Norse Bold';
  src: url("./project-files/Norse-Bold.otf");
}

@font-face {
  font-family: 'Roboto-Regular';
  src: url("./project-files/Roboto-Regular.ttf");
}

body{
background-color: #F9F9F9;
}

#main-flexbox{
  display: flex;
  flex-wrap: wrap;
  border-color: blue    !important;
  width: 100%;
  position: relative;
  
}


#image-flexbox{
width: 40%;
max-width: 1000px;
min-width: 350px;
min-height: 300px;
background-image: url(https://upload.wikimedia.org/wikipedia/commons/thumb/c/c3/NGC_4414_%28NASA-med%29.jpg/1024px-NGC_4414_%28NASA-med%29.jpg); 
background-position: center;
/*All code above this is to make the background image more responsive to a changing screen size*/

postiion: relative;
display: flex;
align-items: center;
justify-content: space-between;
flex-direction: column;
}

#form-flexbox{
width: 59%;
min-width: 350px;
}

#banner{
background-color: rgba(0,0,0, 0.3);
position: relative;
width: 100%;
height:100px;
/*  top: 10%; 
This will push the image slightly offset of its flow in the flexbox.*/
}

.icon{
height: 6rem;
width: 4rem;
}

h1{
  color: black;
font-family: helvetica;
font-size: 1rem;
margin-left: 15px;
}

h1.form-headline{
margin-left: 0px;
}

fieldset{
border-color: #ccc;
border-style: none;
box-shadow: 0px 5px 5px 1px #9e9898;
}
  

.submitButton{
width: 200px ;
background-color: #596D48;
color: white;
padding: 14px 20px;
margin: 8px 0;
border: none;
border-radius: 4px;
cursor: pointer;
margin-left: 15px;
}

.form-line-flex{
  display: flex;
  gap: 10%;
}

.box{
  border-style: solid;
  border-width: 1px;
  border-color:red;
}
.flexbox{
display: flex;
align-items: center;
justify-content: center;
}

#icon-text{
  color: white;
  font-size: 4rem;
  font-family: 'Norse Bold', Times, serif;

}

h3{
font-family: 'Roboto-Regular', Arial, Times, serif;
color: black;
font-size: .8rem;
margin-left: 15px;
}

h6.credit-text{
  font-size: 0.75rem;
  
  color: white;
  font-family: helvetica, san-serif;

}

div#footer{
background-color: rgba(0,0,0,0.3);
width: 100%;
display: flex;
justify-content: space-around;
height: 3rem;
}

/*Style of normal links for page*/
a{
text-decoration: none;
}

a:link{ color: #596D48;}
a:active { color: #596D48; }
a:visited { color: #596D48; }
a:hover { color: orange; }

/*Style of links on dark bg*/
a.dark-link:link{ color: white;}
a.dark-link:active { color: blue; }
a.dark-link:visited { color: rgb(204, 204, 0); }
a.dark-link:hover { color: green; }


/*Form aethstetic stuff*/
.error {
font-family: customFontBold;
font-size: .7rem;
color: rgb(255, 69, 100);

}

input, label {
  display:block;
/*This allows the labels and input boxes to be on top of each other*/
}

input[type=text], input[type=email], input[type=tel], input[type=password], select {
width: 100%;
padding: 10px 10px 12px;
font-size: 16px;
font-size: 1rem;
/*padding helps control size of boxes*/
/*   margin: 8px 0; */
display: inline-block;
border: 1px solid #ccc;
border-radius: 4px;
box-sizing: border-box;
color: #666;
font-family: Helvetica;
}

label{
font-family: 'Roboto-Regular', Arial, Times, serif;
font-size: 10px;
font-weight: 500;
letter-spacing: .15rem;
}


#my-form input:focus{
background-color: transparent;
border: 1px solid red;
box-shadow: 0 0 10px #719ECE;
outline: none ;
/*Turns boxes this color when you click inside them*/
}

#my-form input:invalid{
border: 1px solid #b92326;
background-color: rgba(185, 35, 38, 0.25);   
outline: none;
/*Turns boxes this color when they are invalid*/
}

#my-form input:focus:invalid{
background-color: transparent;
border: 1px solid red ;
box-shadow: 0 0 10px #719ECE;
outline: none ;
/*Turns boxes this color when they are invalid AND focused*/
}



#my-form input:valid {
  border: 1px solid #8BC34A;
  background-color: rgba(139, 195, 74, 0.25);
/*Style of an input if it is valid even after you have left it*/
}

#my-form input:focus:valid, {
  border: 1px solid #8BC34A;
  background-color: transparent;
/*Style of an input if it is valid AND focused*/
}


#my-form input:focus::placeholder{
  color: transparent;
}

#my-form input:placeholder-shown {
  background-color: transparent;
  border: 1px solid #d8d8d8;
/*This property ensures the boxes will look normal until you type some stuff in them despite being invalid.*/
}










