@font-face{
    font-family: 'Norse Bold';
    src: url("./project-files/Norse-Bold.otf");
}

#main-flexbox{
    display: flex;
    flex-wrap: wrap;
    border-color: blue    !important;
    width: 100%;
    position: relative;
    
}


#image-flexbox{
  width: 40%;
  max-width: 1000px;
  min-width: 350px;
  min-height: 300px;
  background-image: url(https://upload.wikimedia.org/wikipedia/commons/thumb/c/c3/NGC_4414_%28NASA-med%29.jpg/1024px-NGC_4414_%28NASA-med%29.jpg); 
  background-position: center;
/*All code above this is to make the background image more responsive to a changing screen size*/
  
  postiion: relative;
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: column;
}

#form-flexbox{
  width: 59%;
  min-width: 350px;
}

#banner{
  background-color: rgba(0,0,0, 0.3);
  position: relative;
  width: 100%;
  height:100px;
/*  top: 10%; 
  This will push the image slightly offset of its flow in the flexbox.*/
}

.icon{
  height: 6rem;
  width: 4rem;
}

h1{
    color: black;
  font-family: helvetica;
  font-size: 1rem;
  margin-left: 15px;
}

h1.form-headline{
  margin-left: 0px;
}
input, label {
    display:block;
/*This allows the labels and input boxes to be on top of each other*/
}

.form-line-flex{
    display: flex;
    gap: 10%;
}

.box{
    border-style: solid;
    border-width: 1px;
    border-color:red;
}
.flexbox{
  display: flex;
  align-items: center;
  justify-content: center;
}

#icon-text{
    color: white;
    font-size: 4rem;
    font-family: 'Norse Bold', Times, serif;

}


h6.credit-text{
    font-size: 0.75rem;
    
    color: white;
    font-family: helvetica, san-serif;

}

div#footer{
  background-color: rgba(0,0,0,0.3);
  width: 100%;
  display: flex;
  justify-content: space-around;
  height: 3rem;
}

/*Style of normal links for page*/
a:link{ color: blue;}
a:active { color: blue; }
a:visited { color: purple; }
a:hover { color: green; }

/*Style of links on dark bg*/
a.dark-link:link{ color: white;}
a.dark-link:active { color: blue; }
a.dark-link:visited { color: rgb(204, 204, 0); }
a.dark-link:hover { color: green; }



